{% include "global/base/cabecalho.html" %}
<body>
    <h1>{{ titulo }}</h1>
    <ul>
        <h3>Lista de tarefas para essa pagina.</h3>
        <ol type="i">
            <li>Aplicar os poucos conhecimentos adquiridos em HTML atraves do curso em video </li>
            <li>Modificar algumas coisas da página com CSS</li>
            <li>Gerar uma lista de links</li>
            <ul>
                <li>Cada link representa uma parte do processo de desenvolvimento</li>
                <li>Cada parte deve estar documentada, explicando o que realmente foi entendido e colocado em pratica</li>
            </ul>
        <li>Usar como guia apenas a documentação para o desenvolvimento com django</li>
        
        <li>Usar como guia a documentação e o material teorico do curso em video para o desenvolvimento com HTML e CSS</li>
        </ol>
    </ul>
     
</body>
</html>